.first{
    width: 100%;
    padding: 90px;
    background: url(../images/dist/first.png) center no-repeat;
    background-size: cover;
    z-index: -5;
    position: relative;
    &__body{
        display: flex;
        flex-direction: column;
        gap: 36px;
        &-title{
            font-size: 40px;
            font-weight: 700;
            line-height: 60px;
            text-align: left;
            color: #fff;
            max-width: 766px;
        }
        p{
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            text-align: left;
            color: #fff;
            max-width: 710px;
        }
        &-btns{
            display: flex;
            align-items: center;
            gap: 41px;
            margin-top: 94px;
            a{
                width: 314px;
                height: 77px;
                border-radius: 49px;
                background: #2EECC51A;
                backdrop-filter: blur(2px);
                border: 1.5px solid #2EECC5;
                box-shadow: 0px 0px 37px 0px #2EECC533;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 26.8px;
                text-align: left;
                color: #fff;
            }
            button:nth-child(2){
                position: relative;
                width: 300px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 26.8px;
                text-align: left;
                box-shadow: 0px 0px 38px 0px #2EECC533;
                border: 1.5px solid #2EECC5;
                background: #161617;
                color: #fff;
                border-radius: 4px;
            }
            button:nth-child(2):before{
                content: '';
                position: absolute;
                width: 300px;
                height: 64px;
                border: 1.5px solid #2EECC5;
                background: transparent;
                z-index: -1;
                top: 12px;
                left: 12px;
                border-radius: 4px;
                transition: all 0.3s ease;
            }
        }
    }
}