<section id="about" class="about">
    <div class="container">
        <div class="about__body">
            <h2 class="about__body-title">
                Немного о бо мне
            </h2>
            <div class="about__body-block">
                <div class="about__body-block-text">
                    <p>
                        С 2011 года я занимаюсь переходом и усилением товарных бизнесов, помогая им перейти из оффлайн в онлайн. За эти 9 лет я вел собственные проекты в онлайн, а также оказывал поддержку предпринимателям, помогая им открыть свои интернет-магазины. Моя экспертиза позволяет эффективно переводить товарные бизнесы из оффлайн в онлайн, что приводит к увеличению их эффективности и доходности.
                    </p>
                    <p>
                        Кроме того, я консультирую крупные компании по внедрению интернет-продаж, помогая им успешно адаптироваться к онлайн-рынку и увеличить свою конкурентоспособность. В роли наставника и автора тренингов я разрабатываю обучающие программы и веду живые мастер-классы для предпринимателей и экспертов.
                    </p>
                    <a href="#contact" class="about__body-block-text-btn">
                        Консультация
                    </a>
                </div>
                <img src="../images/dist/about.png" alt="" class="about__body-block-img">
            </div>
        </div>
    </div>
</section>