<section class="adventures">
    <div class="container">
        <div class="adventures__body">
            <div class="adventures__body-item">
                <img src="../images/dist/adv/1.png" alt="">
                <span>Привлек в бизнес 200 млн. рублей</span>
                <p>За все время ООО "ЮПК" я привлек 200 млн. рублей инвестиций в виде кредитных средств и грантов, в том числе с господдержкой.</p>
            </div>
            <div class="adventures__body-item">
                <img src="../images/dist/adv/2.png" alt="">
                <span>Имею реальный опыт в разных сферах</span>
                <p>Я лично создавал бизнесы в разных сферах: от производства и косметологических услуг до программирования и разработки устройств</p>
            </div>
            <div class="adventures__body-item">
                <img src="../images/dist/adv/3.png" alt="">
                <span>Провожу 3-5 встреч в неделю</span>
                <p>В рамках наставничества лично или онлайн встречаюсь с предпринимателями и помогаю своим опытом построить бизнес.</p>
            </div>
        </div>
    </div>
</section>