<section class="first">
    <div class="container">
        <div class="first__body">
            <h2 class="first__body-title">
                Первая консультация — бесплатно
            </h2>
            <p>Оставьте заявку, если вы готовы улучшить слабые стороны своего бизнеса. Мы проведем бесплатную консультацию, определим вашу ситуацию и разработаем план действий</p>
            <div class="first__body-btns">
                <a href="#contact">Бесплатно разобрать бизнес</a>
                <button>Написать в телеграм</button>
            </div>
        </div>
    </div>
</section>