<section class="free">
    <div class="container">
        <div class="free__body">
            <h2 class="free__body-title">
                Заполните форму для бесплатного анализа вашего бизнеса и выявления препятствий в его росте
            </h2>
            <p>Оставьте заявку на бесплатную оценку вашего бизнеса и выявление факторов, мешающих его росту</p>
            <p>После анализа вы получите план для значительного роста выручки вашей компании в короткие сроки</p>
            <a href="#contact" class="free__body-btn">
                Бесплатно разобрать бизнес
            </a>
        </div>
    </div>
</section>