<section id="learn" class="learn">
    <img class="learn__back" src="../images/dist/learn.png" alt="">
    <div class="container">
        <div class="learn__body">
            <h2 class="learn__body-title">
                Чему вы научитесь за все время обучения
            </h2>
            <div class="learn__body-block">
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/1.png" alt="">
                        <span>Система учета</span>
                    </div>
                    <p>
                        Разберемся в принципах учета, составим номенклатуру товаров и услуг, настроим и внедрим систему МойСклад или 1С УНФ для ведения бизнеса, которая станет цифровым двойником бизнеса.
                    </p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/2.png" alt="">
                        <span>Расчет себестоимости</span>
                    </div>
                    <p>Сделаете точный расчет себестоимости как товаров, так и услуг. Правильно учтете все переменные расходы, проценты по кредитам.</p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/3.png" alt="">
                        <span>Автоматизация</span>
                    </div>
                    <p>Большинство действий офисных сотрудников можно сперва стандартизировать, а затем автоматизировать. Тем самым вы повысите точность работы и сократите расходы.</p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/4.png" alt="">
                        <span>Сайты и лендинги</span>
                    </div>
                    <p>
                        Проработаем посадочные страницы и пересоберем сайты, чтобы донести ценности компании и увеличить конверсию в заявки и сделки.
                    </p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/5.png" alt="">
                        <span>Управление проектами</span>
                    </div>
                    <p>
                        Освоим методы управления проектами, включая планирование, распределение ресурсов и контроль выполнения задач для достижения целей вашего бизнеса.
                    </p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/6.png" alt="">
                        <span>Реклама</span>
                    </div>
                    <p>
                        Запустим таргетированную рекламу, разберем целевую аудиторию, сегментирование и интересы пользователей.
                    </p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/7.png" alt="">
                        <span>Социальные сети</span>
                    </div>
                    <p>
                        Изучим стратегии продвижения бизнеса в социальных сетях, включая создание контента и взаимодействие с аудиторией.
                    </p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/8.png" alt="">
                        <span>Рассылки</span>
                    </div>
                    <p>
                        Внедрим цепочки е-мейл писем и работу с активной клиентской базой для подогрева заявок, реанимации уснувших, увеличения повторных продаж или сбора обратной связи.
                    </p>
                </div>
                <div class="learn__body-block-item">
                    <div class="learn__body-block-item-title">
                        <img src="../images/dist/learn/9.png" alt="">
                        <span>Чат-боты</span>
                    </div>
                    <p>
                        Подготовим схему получения информации о компании через чат-бота, с возможностью оплаты, записи на услугу, заказа товара.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>