<section class="sup">
    <img src="../images/dist/sup__back.png" alt="" class="sup__back">
    <div class="container">
        <div class="sup__body">
            <h2 class="sup__body-title">
                Поможем вам, если:
            </h2>
            <div class="sup__body-block">
                <div class="sup__body-block-item">
                    <span>Вы хотите достичь большего</span>
                    <p>Вы "уперлись" в потолок и не знаете, как зарабатывать больше в бизнесе</p>
                    <img src="../images/dist/sup/1.png" alt="">
                </div>
                <div class="sup__body-block-item">
                    <span>Вы хотите достичь большего</span>
                    <p>Вы "уперлись" в потолок и не знаете, как зарабатывать больше в бизнесе</p>
                    <img src="../images/dist/sup/2.png" alt="">
                </div>
                <div class="sup__body-block-item">
                    <span>Вы хотите достичь большего</span>
                    <p>Вы "уперлись" в потолок и не знаете, как зарабатывать больше в бизнесе</p>
                    <img src="../images/dist/sup/3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>