<section class="sup">
    <img src="../images/dist/sup__back.png" alt="" class="sup__back">
    <img src="../images/dist/sup__back.png" alt="" class="sup__back mob">
    <img src="../images/dist/sup__back.png" alt="" class="sup__back mob">
    <div class="container">
        <div class="sup__body">
            <h2 class="sup__body-title">
                Поможем вам, если:
            </h2>
            <div class="sup__body-block">
                <div class="sup__body-block-item">
                    <span>Вы хотите достичь большего</span>
                    <p>Вы уперлись в потолок в бизнесе и не знаете, как зарабатывать больше. Мы поможем вам выявить новые возможности для роста и разработать стратегию, которая позволит преодолеть текущие ограничения.</p>
                    <img src="../images/dist/sup/1.png" alt="">
                </div>
                <div class="sup__body-block-item">
                    <span>У вас есть идеи, но не хватает реализации</span>
                    <p>Вы полны амбициозных задумок, но не знаете, как их воплотить в жизнь. Наши эксперты помогут вам структурировать ваши идеи и разработать четкий план действий для достижения желаемых результатов.</p>
                    <img src="../images/dist/sup/2.png" alt="">
                </div>
                <div class="sup__body-block-item">
                    <span>Вы хотите оптимизировать процессы</span>
                    <p>Если ваш бизнес страдает от неэффективных процессов и лишних затрат, мы проведем анализ и предложим решения для оптимизации, что позволит вам увеличить прибыль и снизить риски.</p>
                    <img src="../images/dist/sup/3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>